<div class="list-heading flexrow">
  <div class="document-img"><i class="fas fa-image"></i></div>
  <div class="document-name">
    <strong>{{ localize config.localize.itemName }}</strong>
    <small>{{ localize config.localize.spellLevel }} &amp; {{ localize config.localize.spellSchool }}</small>
  </div>
  <div class="components">{{ localize config.localize.spellComponents }}</div>
  <div class="activation">
    <div>{{ localize config.localize.itemActivationCost }}</div>
    <small>{{ localize config.localize.duration }}</small>
  </div>
  <div class="range">
    <div>{{ localize config.localize.range }}</div>
    <small>{{ localize config.localize.target }}</small>
  </div>
  <div class="effect">
    <div>{{ localize config.localize.effects }}</div>
    <small>{{ localize config.localize.damage }} &amp; {{ localize 'DOCUMENT.ActiveEffects'}}</small>
  </div>
</div>