<div class="list-heading flexrow">
  <div class="document-img"><i class="fas fa-image"></i></div>
  <div class="document-name">
    <strong>{{ localize 'DND5E.ItemName'}}</strong>
    <small>{{ localize 'DND5E.SpellLevel'}} &amp; {{ localize 'DND5E.SpellSchool'}}</small>
  </div>
  <div class="components">{{ localize 'DND5E.SpellComponents'}}</div>
  <div class="activation">
    <div>{{ localize 'DND5E.ItemActivationCost'}}</div>
    <small>{{ localize 'DND5E.Duration'}}</small>
  </div>
  <div class="range">
    <div>{{ localize 'DND5E.Range'}}</div>
    <small>{{ localize 'DND5E.Target'}}</small>
  </div>
  <div class="effect">
    <div>{{ localize 'DND5E.Effects'}}</div>
    <small>{{ localize 'DND5E.Damage'}} &amp; {{ localize 'DOCUMENT.ActiveEffects'}}</small>
  </div>
</div>