  <form class="filters">
    <fieldset>
      <legend>{{localize config.localize.spellLevel}} ({{localize 'spell-compendium-5e.OR'}})</legend>
      <div class="filter-grid">
        {{#each config.spellLevels as | label lvl |}}
        <label>
          <input type="checkbox" name="level.{{lvl}}" {{checked (lookup @root/inputs.level lvl)}}>
          {{label}}
        </label>
        {{/each}}
      </div>
    </fieldset>

    <fieldset>
      <legend>{{localize config.localize.spellSchool}} ({{localize 'spell-compendium-5e.OR'}})</legend>
      <div class="filter-grid">
        {{#each config.spellSchools as | label abbrev |}}
        <label>
          <input type="checkbox" name="school.{{abbrev}}" {{checked (lookup @root/inputs.school abbrev)}}>
          {{label}}
        </label>
        {{/each}}
      </div>
    </fieldset>

    <fieldset>
      <legend>{{localize config.localize.itemActivationCost}} ({{localize 'spell-compendium-5e.OR'}})</legend>
      <div class="filter-grid">
        {{#each config.spellActivationTypes as | label abbrev |}}
        <label>
          <input type="checkbox" name="activation.type.{{abbrev}}" {{checked (lookup @root/inputs.activation.type
            abbrev)}}>
          {{label}}
        </label>
        {{/each}}
      </div>
    </fieldset>

    <!--<fieldset>
  <legend>{{localize config.localize.spellComponents}}</legend>
  {{#each config.spellComponentTypes as | label type |}}
    <label>
      <input type="checkbox" name="components.{{type}}" {{checked (lookup @root/inputs.components type)}}>
      {{label}}
    </label>
  {{/each}}
  </fieldset>-->

    <fieldset>
      <legend>{{localize config.localize.spellTags}} ({{localize 'spell-compendium-5e.AND'}})</legend>
      <div class="filter-grid">
        {{#each config.spellTagTypes as | label type |}}
        <label>
          <input type="checkbox" name="components.{{type}}" {{checked (lookup @root/inputs.components type)}}>
          {{label}}
        </label>
        {{/each}}
      </div>
    </fieldset>

    <fieldset>
      <legend>{{localize config.localize.damage}} ({{localize 'spell-compendium-5e.OR'}})</legend>
      <div class="filter-grid">
        {{#each config.damageTypes as | label type |}}
        <label>
          <input type="checkbox" name="damage.parts.{{type}}" {{checked (lookup @root/inputs.damage.parts type)}}>
          {{label}}
        </label>
        {{/each}}
      </div>
    </fieldset>
  </form>